@using Microsoft.AspNetCore.Components.Web;
@using System.Diagnostics;
@using System.Data;
@using System.Globalization
@using ReservationAdmin.Models;


@code {

    SqlConnection con = new SqlConnection();
    Reservation CreateRes = new Reservation();

   /* public void GetReservations()
    {
        CreateRes.date = DateTime.Today;


        con.SqlQuery("SELECT reservation.Date, reservation.DayPart, reservation.TableNumber, reservation.Amount, reservation.IsConfirm, guest.FullName, guest.Email FROM reservation INNER JOIN guest ON reservation.Guest = guest.id_Guest WHERE reservation.Date = @date AND reservation.DayPart = @Daypart");
        con.Cmd.Parameters.AddWithValue("@date", "2019-01-01");
        con.Cmd.Parameters.AddWithValue("@Daypart", "dinner");
        con.QueryEx();

    }*/
}


<table id="myTable" class="table" cellspacing="0">
            @{
                con.SqlQuery("SELECT reservation.Date, reservation.DayPart, reservation.TableNumber, reservation.Amount, reservation.IsConfirm, guest.FullName, guest.Email FROM reservation INNER JOIN guest ON reservation.Guest = guest.id_Guest WHERE reservation.Date = @date AND reservation.DayPart = @Daypart");
                con.Cmd.Parameters.AddWithValue("@date", "2019-01-01");
                con.Cmd.Parameters.AddWithValue("@Daypart", "dinner");
                con.QueryEx();
            }
    <thead>
        <tr>
        <td>reservation date</td>
        <td>daypart</td>
        <td>tablenumber</td>
        <td>amount of people</td>
        <td>is confirmed</td>
        <td>full name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in con.QueryEx().Rows)
        {
            <tr>
            <td>@Convert.ToDateTime(dr[0].ToString()).ToString("MM/dd/yyyy")</td>
            <td>@dr[1].ToString()</td>
            <td>@dr[2].ToString()</td>
            <td>@dr[3].ToString()</td>
            <td>@dr[4].ToString()</td>
            <td>@dr[5].ToString()</td>
             </tr>
        }
    </tbody>
</table>