@using Microsoft.AspNetCore.Components.Web;
@using System.Diagnostics;
@using System.Data;
@using ReservationAdmin.Models;
@using System.Net.Mail;

@using Microsoft.JSInterop;
@inject IJSRuntime JsRuntime;
<form>
    <div class="PartOne">
        <p  class="TitleSubject">Aanmaken reservering</p>
        <div class="Underline"/>
        <div id="divInfo">
            <h4>Gegevens</h4>
            <div class="FormOne">
                <div class="form-inline  form-group">
                    <label for="Name">Volledig naam</label>

                    <input type="text" class="form-controls" @bind="CreateGuest.FullName" aria-describedby="FullName" placeholder="Volledige naam" required />

                </div>
                <div class="form-inline form-group ">
                    <label for="Email" style="margin-right:10%;">Email </label>
                    <input type="email" class="form-controls Email-field" @bind="CreateGuest.Email" aria-describedby="emailHelp" placeholder="Email adres" required />

                </div>
                <div class="form-inline  form-group">
                    <label for="InputAmount">Aantal personen</label>
                    <input type="number" class="form-control"  @onchange="(e => AmountChange(e))"aria-describedby="Amount" placeholder="0" min="1" max="6" required />
                </div>

            </div>
        </div>
        <div id="divDaypart">
            <h4>Dagdeel</h4>
            <div class="Daypart-div">
                <div class="Daypart">
                    <button type="button" @onclick="(e => SelectedDaypart(false))" class="btn Daypart-btn Daypart-btn-lunch">
                        <h5>Lunch</h5>
                        <p>11:00 - 16:00</p>
                    </button>
                    <button type="button" @onclick="(e=> SelectedDaypart(true))" class="btn Daypart-btn Daypart-btn-diner">
                        <div>
                            <h5>Dinner</h5>
                            <p>17:00 - 20:00</p>
                        </div>
                    </button>
                </div>


            </div>
        </div>

    </div>

    <button type="button" @onclick="CheckBlockedOrNotFilled" class=" btn-ResAdmin btn btn-primary">
        Reserveren
    </button>
</form>
<div class="Table-div CHidden ">
    <h4>Tafel kiezen</h4>
    <div style="border-top: 1px solid; padding-bottom: 33px; margin-left: 8%; width: 76%; color: #E6DBDA;" />
    <div id="NormalDay" class="Table-place  table-setting card-group">

        <div style=" margin-left:21%; margin-top: 7%;">

            <button id="Table1" type="button" @onclick="(e => SelectedTable(1))" style="width: 47px;
        height: 57px; margin-left: 10px;   margin-right: 33px; " class="Table TableWitFour btn btn-primary">
                1
            </button>

            <button id="Table2" type="button" @onclick="(e => SelectedTable(2))" style="width: 47px;
        height: 57px; margin-left: 10px;   margin-right: 33px; " class="Table  TableWitFour btn btn-primary">
                2
            </button>
            <button id="Table3" type="button" @onclick="(e => SelectedTable(3))" style="width: 47px;
        height: 57px; margin-left: 10px;   margin-right: 33px; " class="Table TableWitFour btn btn-primary">
                3
            </button>
        </div>

        <div style="margin-top: 7%;">
            <button id="Table4" type="button" class="Table TableWitSix  btn btn-primary" @onclick="(e => SelectedTable(4))" style="width: 47px; height: 87px; margin-left: 27px; margin-right: 40px; margin-top: 15px;">
                4
            </button>
        </div>

        <div style="padding-left: 250px;height: 7%; margin-top: -15px; ">
            <button id="Table6" type="button" @onclick="(e => SelectedTable(6))" style="width: 30px; height: 35px; margin-right:48px;" class="Table TableWitTwo btn btn-primary">6</button>
            <button id="Table5" type="button" @onclick="(e => SelectedTable(5))" style="width: 30px; height: 35px; " class="Table TableWitTwo  btn btn-primary">5</button>
        </div>

        <div style="width: 27%; margin-left: 1%;margin-bottom: 24%;  ">
            <button id="Table8" type="button" @onclick="(e => SelectedTable(8))" style="width: 58px;  height: 48px; margin-left: 25px;  margin-right: 33px;        margin-top: 38px;" class=" Table TableWitFour btn btn-primary">
                8
            </button>
            <button id="Table10" type="button" @onclick="(e => SelectedTable(10))" style="width: 58px;  height: 48px;  margin-left: 25px;  margin-right: 33px;      margin-top: 44px;" class=" Table TableWitFour btn btn-primary">
                10
            </button>
            <button id="Table11" type="button" @onclick="(e => SelectedTable(11))" style=" width: 90px; height: 48px; margin-left: 25px; margin-right: 33px;   margin-top: 33%;" class="Table TableWitSix  btn btn-primary">
                11
            </button>
        </div>
        <div style="  width: 19%; margin-left: 1%; ">
            <button id="Table7" type="button" @onclick="(e => SelectedTable(7))" style="width: 58px;height: 46px; margin-left: 7px;margin-right: 6px; margin-top: 18px;" class="Table TableWitFour btn btn-primary">
                7
            </button>
            <button id="Table9" type="button" @onclick="(e => SelectedTable(9))" style=" width: 59px; height: 45px; margin-left: 7px; margin-right: 33px;  margin-top: 56%;" class="Table TableWitFour  btn btn-primary">
                9
            </button>
        </div>

    </div>

    <div id="Valday" class="table-setting TableGroupDIV  card-group">

        <div style="margin-left: 21%; margin-top: 4%;">
            <div style="width: 24%; height: 16px; ">
                <button id="Table1" type="button" @onclick="(e => SelectedTable(1))" style="width: 34px;height: 36px;  margin-left: 19px;  margin-right: 33px;  margin-top: 17%;" class=" Table TableWitTwo btn btn-primary">
                    1
                </button>
                <button id="Table2" type="button" @onclick="(e => SelectedTable(2))" style="width: 34px;height: 36px;margin-left: 19px;margin-right: 33px;margin-top: 8%;" class=" Table TableWitTwo btn btn-primary">
                    2
                </button>

            </div>
            <div style=" margin-left: 91px;">
                <button id="Table3" type="button" @onclick="(e => SelectedTable(3)) " style="width: 47px;  height: 57px; margin-left: 10px;   margin-right: 33px; " class="Table TableWitFour btn btn-primary">
                    3
                </button>

                <button id="Table4" type="button" @onclick="(e => SelectedTable(4))" style="width: 47px;   height: 57px; margin-left: 14px;   margin-right: 33px; " class="Table TableWitFour btn btn-primary">
                    4
                </button>
                <button id="Table5" type="button" @onclick="(e => SelectedTable(5))" style="width: 47px; height: 57px; margin-left: 9px;   margin-right: 33px; " class="Table TableWitFour btn btn-primary">
                    5
                </button>
            </div>
        </div>

        <div style="padding-left: 50%; height: 7%; margin-top: 6%;">
            <button id="Table8" type="button" @onclick="(e => SelectedTable(8))" style="width: 33px;height: 35px;margin-right: 44px;" class="Table TableWitTwo btn btn-primary">8</button>
            <button id="Table7" type="button" @onclick="(e => SelectedTable(7))" style="width: 32px;height: 35px;margin-right: 44px;" class="Table TableWitTwo  btn btn-primary">7</button>
            <button id="Table6" type="button" @onclick="(e => SelectedTable(6))" style="width: 33px;height: 35px;" class="Table TableWitTwo  btn btn-primary">6</button>
        </div>

        <div style="width: 10%;margin-bottom: 24%;margin-top: 8%;margin-left: 4%;">
            <button id="Table11" type="button" @onclick="(e => SelectedTable(11))" style="width: 36px;height: 35px;margin-left: 6px;margin-right: 33px;margin-top: 29%;padding-left: 7px;padding-top: 5px;" class=" Table TableWitTwo btn btn-primary">
                11
            </button>
            <button id="Table14" type="button" @onclick="(e => SelectedTable(14))" style="width: 36px;height: 35px;margin-left: 6px;margin-right: 33px;margin-top: 91%;padding-left: 7px;padding-top: 5px;" class=" Table TableWitTwo btn btn-primary">
                14
            </button>
            <button id="Table16" type="button" @onclick="(e => SelectedTable(16))" style="width: 36px;height: 35px;margin-left: 6px;margin-right: 33px;margin-top: 103%;padding-left: 8px;padding-top: 5px;" class="Table TableWitTwo  btn btn-primary">
                16
            </button>
        </div>

        <div style="width:16%;margin-bottom: 24%;margin-top: 9%;">
            <button id="Table10" type="button" @onclick="(e => SelectedTable(10))" style="width: 34px;height: 36px;margin-left: 1px;margin-right: 33px;margin-top: 12%;padding-left: 7px;padding-top: 5px;" class=" Table TableWitTwo btn btn-primary">
                10
            </button>
            <button id="Table13" type="button" @onclick="(e => SelectedTable(13))" style="width: 35px;height: 36px;margin-right: 33px;margin-top: 56%;padding-left: 7px;padding-top: 5px;" class=" Table TableWitTwo btn btn-primary">
                13
            </button>
            <button id="Table15" type="button" @onclick="(e => SelectedTable(15))" style="width: 35px;height: 37px;margin-left: 1px;margin-right: 33px;margin-top: 62%;padding-left: 7px;padding-top: 5px;" class="Table TableWitTwo  btn btn-primary">
                15
            </button>
        </div>
        <div style="  width: 19%; ">
            <button id="Table9" type="button" @onclick="(e => SelectedTable(9))" style="width: 58px;height: 46px;margin-left: 3px;margin-right: 6px;margin-top: 19%;" class="Table TableWitFour btn btn-primary">
                9
            </button>
            <button id="Table12" type="button" @onclick="(e => SelectedTable(12))" style="width: 59px;height: 45px;margin-left: 3px;margin-right: 33px;margin-top: 54%;" class="Table TableWitFour  btn btn-primary">
                12
            </button>
        </div>
    </div>

</div>



@code{


    SqlConnection con = new SqlConnection();
    public string Message;
    Reservation CreateRes = new Reservation();
    Guest CreateGuest = new Guest();
    public int TableNummerReserved;



    //Check of mail correct is anders stuurt de
    bool IsValidEmail(string email)
    {
        try
        {
            var addr = new System.Net.Mail.MailAddress(email);
            return addr.Address == email;
        }
        catch
        {
            return false;
        }
    }


    //Als de waarde voor aantal personen veranderd
    void AmountChange(ChangeEventArgs e )
    {
        CreateRes.Amount = Convert.ToInt32(e.Value);
        CreateRes.Table = 0;
        CreateRes.Daypart = "";
        TablesReset("HideTable");
    }





    //Tafels worden weer naar standaard gezet
    async Task TablesReset(string subject)
    {
        if (subject == "HideTable")
        {
            await JsRuntime.InvokeVoidAsync("HideTables");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("ResetTables");
        }
    }

    //Kijkt naar welke tafel geblokkeerd moet worden voor het aantal personen
    async Task LessThenSixFourOrTwo()
    {
        await JsRuntime.InvokeVoidAsync("Disabled", CreateRes.Amount);
    }

    //Gereserveerd Tafel
    async Task DisabledReserved(int Tableres)
    {
        await JsRuntime.InvokeVoidAsync("DisabledReserved", Tableres);
    }

    //Check welke datum het is voor tafelindeling
    async Task CheckWhichDate()
    {
        await JsRuntime.InvokeVoidAsync("WhichDate", CreateRes.date.ToString("yyyy-MM-dd"));
    }

    async Task WholDayPart()
    {
        await JsRuntime.InvokeVoidAsync("HoldValue", CreateRes.Daypart);
    }


    //Pak de waarde van geselecteerd tafel
    void SelectedTable(int SelectedTable)
    {
        CreateRes.Table = SelectedTable;
        Message = "Tafel Nummer gekozen" + CreateRes.Table.ToString();
        Debug.WriteLine(Message);
    }

    //Pak de waarde van geselecteerd dagdeel
    void SelectedDaypart(bool SelectedDaypart)
    {
        if (SelectedDaypart == false)
        {
            CreateRes.Daypart = "Lunch";
        }
        else
        {
            CreateRes.Daypart = "Dinner";
        }

        WholDayPart();

        if (CreateRes.Amount != 0)
        {
            CheckWhichDate();
            TablesReset("Everthing");
            ReserveTable();
            LessThenSixFourOrTwo();
        }
    }

    // Kijkt of de terug of volgende knop is gedrukt
    async Task GetMessage(string subject)
    {
        await JsRuntime.InvokeVoidAsync("Message", subject);
    }

    //Checkt naar gereserveerde tafels
    void ReserveTable()
    {
        con.SqlQuery("SELECT `TableNumber` FROM `reservation` WHERE `Date`=@Date  AND `DayPart`=@Daypart");
        con.Cmd.Parameters.AddWithValue("@Date", CreateRes.date.ToString("yyyy-MM-dd"));
        con.Cmd.Parameters.AddWithValue("@Daypart", CreateRes.Daypart);
        foreach (DataRow dr in con.QueryEx().Rows)
        {
            TableNummerReserved = Convert.ToInt32(dr[0].ToString());
            DisabledReserved(TableNummerReserved);
        }
    }

    //Check naar dubble gast gegevens
    void CheckDoubleUser()
    {
        con.SqlQuery("SELECT `id_Guest` FROM `guest` WHERE `FullName`=@Fullname AND `Email`=@Email");
        con.Cmd.Parameters.AddWithValue("@Fullname", CreateGuest.FullName);
        con.Cmd.Parameters.AddWithValue("@Email", CreateGuest.Email);

        foreach (DataRow dr in con.QueryEx().Rows)
        {
            CreateGuest.id = Convert.ToInt32(dr[0].ToString());
        }

        if (CreateGuest.id == 0)
        {
            InsertUser();
        }
        else
        {
            InsertReservation();
        }
    }

    //Kijkt of veld wel gevuld of gekozen zijn en verder kan naar volgende form
    void CheckBlockedOrNotFilled()
    {
        if (CreateGuest.FullName == null || CreateRes.Amount == 0 || CreateGuest.FullName == "" || CreateRes.Table == 0)
        {
            GetMessage("Chosen");
        }
        else if (CreateGuest.Email == "" || CreateGuest.Email == null || IsValidEmail(CreateGuest.Email) == false)
        {

            GetMessage("Email");

        }
        else if (CreateRes.Amount > 6)
        {
            GetMessage("Chosen");

        }
        else
        {
            CheckDoubleUser();
        }

    }

    //Zet Nieuwe Gast neer in database
    void InsertUser()
    {
        con.SqlQuery("INSERT INTO `guest`(`FullName`, `Email`,`NoShow`,`IsBlocked`) VALUES (@Fullname,@Email,0,0)");
        con.Cmd.Parameters.AddWithValue("@Fullname", CreateGuest.FullName);
        con.Cmd.Parameters.AddWithValue("@Email", CreateGuest.Email);
        con.NonQueryEx();

        CheckDoubleUser();
    }

    //Zet Gast neer in database
    void InsertReservation()
    {
        if(CreateRes.Table == 0)
        {
            GetMessage("Chosen");
        }
        else
        {
            con.SqlQuery("INSERT INTO `reservation`(`Date`, `DayPart`, `TableNumber`, `Guest`, `Amount`, `IsConfirm`) VALUES (@Date,@Daypart,@TableNumber,@Guest,@Amount, 'Ja')");
            con.Cmd.Parameters.AddWithValue("@Date", CreateRes.date);
            con.Cmd.Parameters.AddWithValue("@Daypart", CreateRes.Daypart);
            con.Cmd.Parameters.AddWithValue("@TableNumber", CreateRes.Table);
            con.Cmd.Parameters.AddWithValue("@Guest", CreateGuest.id);
            con.Cmd.Parameters.AddWithValue("@Amount", CreateRes.Amount);
            con.NonQueryEx();
        }

        GetMessage("Succes");
        sendMail();
    }

    //Verstuurd mail naar gast met bevestiging link
    public void sendMail()
    {
        con.SqlQuery("SELECT `id_Reservation` FROM `reservation` WHERE `Guest`=@Guest AND `Date`=@Date AND `DayPart`=@Daypart AND `TableNumber`=@TableNumber");
        con.Cmd.Parameters.AddWithValue("@Guest", CreateGuest.id.ToString());
        con.Cmd.Parameters.AddWithValue("@Date", CreateRes.date.ToString("yyyy-MM-dd"));
        con.Cmd.Parameters.AddWithValue("@Daypart", CreateRes.Daypart);
        con.Cmd.Parameters.AddWithValue("@TableNumber", CreateRes.Table);
        con.QueryEx();

        foreach (DataRow dr in con.QueryEx().Rows)
        {
            CreateRes.id = Convert.ToInt32(dr[0].ToString());
        }

        string messageone = "Er is een reservering gemaakt. Klik op de link om de reservering te bevestigen.";
        string Link = "https://reservationsysteem.azurewebsites.net/Confirm?GetGuestid=" + CreateGuest.id + "&GetRes=" + CreateRes.id;
        string messagetwo = " Als u niet wilt reserveren of dit niet het geval is negeer dan deze mail.";
        string EndMail = "Alvast bedankt voor uw reserveringen ";
        string htmlBody = @"<html lang=""en"">
                            <head>
                                <meta content=""text/html; charset=utf-8"" http-equiv=""Content-Type"">
                                <title>
                                    Upcoming topics
                                </title>
                                <style type=""text/css"">
                                    HTML{background-color: #e8e8e8;}
                                    .message{background-color: #ffff; font-weight: 400;  font-size: 16px; padding: 2% 18% 4% 18%;}
                                    .courses-table{font-size: 12px; padding: 3px; border:0; cellspacing:0; cellpadding:0; border-spacing: 0;}
                                    .TitleMessage{ padding-left: 29%; font-size: 33px; color: #354052;}
                                    .courses-table th{color: #354052;text-align: left; padding: 1% 1%;}
                                    .side-Right-Left{background-color: #F3F3F3; padding: 0 1%;}
                                    .BacKColor{background-color: #F3F3F3;}
                                    .EndMessage{ background-color: #F3F3F3; color: #354052; font-size: 25px;   padding-left: 32%;  padding-right: 36%;  font-weight: 700;  text-align: center;}
                                </style>
                            </head>
                            <body>
                                <table class=""courses-table"">
                                    <thead>
                                        <tr>
                                            <th class=""BacKColor""></th>
                                            <th class=""BacKColor""></th>
                                            <th class=""BacKColor""></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td class=BacKColor></td>
                                      <td class=TitleMessage>Bevestigen van reservering</td>
                                      <td class=BacKColor></td>
                                  </tr>
                                        <tr>
                                            <td class=""side-Right-Left""><td class=""message"">" + messageone + "<br><a href=" + Link + ">Bevestig</a><br>" + messagetwo + "</td><td class=side-Right-Left> </td> </td> " +
                                          "</tr> " +
                                       "</tbody> " +
                                 " <tfoot> " +
                                    "<tr>" +
                                      " <td class=BacKColor></td>" +
                                      " <td class=EndMessage>" + EndMail + "</td>" +
                                      " <td class=BacKColor></td>" +
                                   " </tr> " +
                                 "</tfoot>" +
                                "</body> " +
                              "</html>";



        string subject = "Bevestigen van reservering!";
        MailMessage mailMessage = new MailMessage("Reserveringsysteem", CreateGuest.Email, subject, htmlBody);
        mailMessage.IsBodyHtml = true;

        SmtpClient smtpClient = new SmtpClient("smtp.gmail.com");
        smtpClient.Port = 587;
        smtpClient.Credentials = new System.Net.NetworkCredential("reserveringsysteem2@gmail.com", "TestRes1!@");
        smtpClient.EnableSsl = true;
        smtpClient.Send(mailMessage);
    }
}


