@using Microsoft.AspNetCore.Components.Web
@using System.Diagnostics
@using System.Data;
@using ReservationAdmin.Models;
@using System.Globalization;
@using Microsoft.JSInterop;
@using Microsoft
@inject IJSRuntime JsRuntime;

@code {
    Reservation CreateRes = new Reservation();
    SqlConnection con = new SqlConnection();

}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form>
        <div style="background-color:#D5DAD7; float :left; width: 35%;  height: 100vh;">
            <p style="margin-left: 7%; color: #9597A6; font-size: 24px;padding-top: 5px;    margin-bottom: 5px;">Agenda</p>
            <div style="border-top: 1px solid;padding-bottom: 7px;   margin-left: 2%; width: 95%; ">
                <div style="margin-top:30px;">
                    <h4>Datum</h4>
                    <div class="Form-date">
                        <div style=" margin-left: 23px;">
                            <div>
                                <div>
                                    <input type="date" id="txtDate" @bind="CreateRes.date" onkeydown="return false" class="input-group-addon date-div unstyled form-control" max=2025-01-1 />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 18%;">
                        <h4>Dagdeel</h4>
                        <div class="Daypart-div">
                            <div class="Daypart">
                                <button type="button" @onclick="(e => SelectedDaypart(false))" class="btn Daypart-btn Daypart-btn-lunch">
                                    <h5>Lunch</h5>
                                    <p>11:00 - 16:00</p>
                                </button>
                                <button type="button" @onclick="(e=> SelectedDaypart(true))" class="btn Daypart-btn   Daypart-btn-diner">
                                    <h5>Dinner</h5>
                                    <p>17:00 - 20:00</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<div class="Table-div">
    <h4 class="">Reservering overzicht</h4>
    <div style="border-top: 1px solid; padding-bottom: 33px; margin-left: 11%; width: 76%; color: #E6DBDA;" />
    <div>
        <h6 class="DatED">@DateInText</h6>
        <h6 class="DayD">@DaypartText</h6>
    </div>
    <div class=" card-group" style=" width: 600px;height:450px;margin-left: 100px;margin-bottom: 36px; ">


        <table id="myTable" class="table" cellspacing="0">
            @{

                con.SqlQuery("SELECT reservation.Date, reservation.DayPart, reservation.TableNumber, reservation.Amount, reservation.IsConfirm, guest.FullName, guest.id_Guest, reservation.id_Reservation FROM reservation INNER JOIN guest ON reservation.Guest = guest.id_Guest WHERE reservation.Date = @date AND reservation.DayPart = @Daypart");
                con.Cmd.Parameters.AddWithValue("@date", CreateRes.date);
                con.Cmd.Parameters.AddWithValue("@Daypart", CreateRes.Daypart);
                con.QueryEx();
                bool TableHeader = true;
                string IsConfirmed = "Nee";
                bool ActionVisible = false;
            }
        @foreach (DataRow dr in con.QueryEx().Rows)
        {
            @if (TableHeader)
            {
                <thead>
                    <tr>
                        <td class="HeadDesign">Naam</td>
                        <td class="HeadDesign">Aantal personen </td>
                        <td class="HeadDesign">Tafel</td>
                        @{
                            bool isFound = false;
                        }
                        @foreach (DataRow dr1 in con.QueryEx().Rows)
                        {
                            IsConfirmed = dr1[4].ToString();
                            @if (isFound == false)
                            {
                                @if (CreateRes.date >= DateTime.Today)
                                {
                                    <td class="HeadDesign actieTD">Actie</td>
                                    isFound = true;
                                    ActionVisible = true;
                                }
                                else if (IsConfirmed == "Nee")
                                {
                                    <td class="HeadDesign actieTD">Actie</td>
                                    isFound = true;
                                    ActionVisible = true;
                                }
                            }
                        }
                        <td class="HeadDesign">Is bevestigt?</td>
                    </tr>
                </thead>
                TableHeader = false;
            }
            <tbody>


                <tr>
                    <td class="nameTD">@dr[5].ToString()</td>
                    <td class="AmountD">@dr[3].ToString()</td>
                    <td class="TableD">@dr[2].ToString()</td>
                    @{ IsConfirmed = dr[4].ToString(); }
                    @if (CreateRes.date == DateTime.Today && IsConfirmed == "Ja")
                    {
                        <td>
                            <div style="float: left;">
                                <button @onclick="(e => DeleteReservation(dr[7].ToString()))" class="BlockButton" style="float: left; background-color: #F0F1F7; border: none; border-radius: 10%; width: 36px; height: 28px;"><i class="fas fa-window-"></i>&#10060;</button>
                            </div>
                            <div style="float: left">
                                <button @onclick="(e => UpdateNoShow(dr[6].ToString(), dr[7].ToString()))" class="NoshowButton" style="float: left; background-color: #F0F1F7; border: none; border-radius: 10%; width: 36px; height: 28px;"><i class="fa">&#xf070;</i></button>
                            </div>
                        </td>
                    }
                    else if (CreateRes.date >= DateTime.Today || IsConfirmed == "Nee")
                    {
                        <td>
                            <div style="float: left;">
                                <button @onclick="(e => DeleteReservation(dr[7].ToString()))" class="BlockButton" style="float: left; background-color: #F0F1F7; border: none; border-radius: 10%; width: 36px; height: 28px;"><i class="fas fa-window-"></i>&#10060;</button>
                            </div>
                        </td>
                    }
                    else if (ActionVisible)
                    {
                        <td></td>
                    }

                    <td class="TableD">@dr[4].ToString()</td>
                </tr>

            </tbody>
        }
            </table>
    </div>
</div>

@code
{
    public string DateInText;
    public string DaypartText;
    void SelectedDaypart(bool SelectedDaypart)
    {
        if (SelectedDaypart == false)
        {
            CreateRes.Daypart = "Lunch";
            DaypartText = "Lunch 11:00 - 16:00";

        }
        else
        {
            CreateRes.Daypart = "Dinner";
            DaypartText = "Dinner 17:00 - 20:00";
        }

        DateInText = CreateRes.date.ToLongDateString();
    }
    //Verwijder de geselecteerde reservering
    void DeleteReservation(string ReservationID)
    {
        con.SqlQuery("DELETE FROM reservation WHERE reservation.id_Reservation = @ReservationID");
        con.Cmd.Parameters.AddWithValue("@ReservationID", ReservationID);
        con.QueryEx();
    }
    //update de geselecteerde klant die niet is komen opdagen en verwijder de reservering
    void UpdateNoShow(string GuestID, string ReservationID)
    {
        con.SqlQuery("UPDATE guest set NoShow = NoShow + 1 WHERE id_Guest = @GuestID ");
        con.Cmd.Parameters.AddWithValue("@GuestID", GuestID);
        con.QueryEx();
        //Verwijderd de reservering van de klant die niet is komen opdagen
        DeleteReservation(ReservationID);
        UpdatedIsBlocked();
    }

    void UpdatedIsBlocked()
    {
        con.SqlQuery("UPDATE guest SET IsBlocked = 1 where NoShow = 3");
        con.QueryEx();
    }
}
