@using Microsoft.AspNetCore.Components.Web
@using System.Diagnostics
@using System.Data;
@using ReservationAdmin.Models;
@using System.Globalization;
@using Microsoft.JSInterop;
@inject IJSRuntime JsRuntime;

@code {
    Reservation CreateRes = new Reservation();
    SqlConnection con = new SqlConnection();

}
 
    <form>

        <div style="background-color:#D5DAD7; float :left; width: 35%;  height: 100vh;">
            <p style="margin-left: 7%; color: #9597A6; font-size: 24px;padding-top: 5px;    margin-bottom: 5px;">Agenda</p>
            <div style="border-top: 1px solid;padding-bottom: 7px;   margin-left: 2%; width: 95%; ">
                <div style="margin-top:30px;">
                    <h4>Datum</h4>
                    <div class="Form-date">
                        <div style=" margin-left: 23px;">
                            <div>
                                <div>
                                    <input type="date" id="txtDate" @bind="CreateRes.date" onkeydown="return false" class="input-group-addon date-div unstyled form-control" max=2025-01-1 />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 18%;">
                        <h4>Dagdeel</h4>
                        <div class="Daypart-div">
                            <div class="Daypart">
                                <button type="button" @onclick="(e => SelectedDaypart(false))" class="btn Daypart-btn Daypart-btn-lunch">
                                    <h5>Lunch</h5>
                                    <p>11:00 - 16:00</p>
                                </button>
                                <button type="button" @onclick="(e=> SelectedDaypart(true))" class="btn Daypart-btn   Daypart-btn-diner">
                                    <h5>Dinner</h5>
                                    <p>17:00 - 20:00</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<div class="Table-div">
    <h4 class="">Reservering overzicht</h4>
    <div style="border-top: 1px solid; padding-bottom: 33px; margin-left: 11%; width: 76%; color: #E6DBDA;" />
    <div>
        <h6 class="DatED">@DateInText</h6>
        <h6 class="DayD">@DaypartText</h6>
    </div>
    <div class=" card-group" style=" width: 555px;height:450px;margin-left: 100px;margin-bottom: 36px; ">


        <table id="myTable" class="table" cellspacing="0">
            @{

                con.SqlQuery("SELECT reservation.Date, reservation.DayPart, reservation.TableNumber, reservation.Amount, reservation.IsConfirm, guest.FullName, guest.id_Guest, reservation.id_Reservation FROM reservation INNER JOIN guest ON reservation.Guest = guest.id_Guest WHERE reservation.Date = @date AND reservation.DayPart = @Daypart");
                con.Cmd.Parameters.AddWithValue("@date", CreateRes.date);
                con.Cmd.Parameters.AddWithValue("@Daypart", CreateRes.Daypart);
                con.QueryEx();

            }
            <thead>
                <tr>
                    <td class="HeadDesign">Naam</td>
                    <td class="HeadDesign">Aantal personen </td>
                    <td class="HeadDesign">Tafel</td>
                    <td class="HeadDesign actieTD">Actie</td>
                </tr>
            </thead>
            <tbody>

                @foreach (DataRow dr in con.QueryEx().Rows)
                {
                    <tr>
                        <td class="nameTD">@dr[5].ToString()</td>
                        <td class="AmountD">@dr[3].ToString()</td>
                        <td class="TableD">@dr[2].ToString()</td>
                        <td>
                            <button value="@dr[7].ToString()" class="BlockButton" style=" float: left;background-color: #F0F1F7;border: none;border-radius: 10%; width: 36px;height: 28px;margin-right: 13px;"><i class="fas fa-window-close"></i></button>
                            <button value="@dr[6].ToString()" class="NoshowButton" style="float: left;background-color: #F0F1F7;border: none;border-radius: 10%; width: 36px;height: 28px;"><i class="fas fa-eye-slash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code
{

    public string DateInText;
    public string DaypartText;
    void SelectedDaypart(bool SelectedDaypart)
    {
        if (SelectedDaypart == false)
        {
            CreateRes.Daypart = "Lunch";
            DaypartText = "Lunch 11:00 - 16:00";

        }
        else
        {
            CreateRes.Daypart = "Dinner";
            DaypartText = "Dinner 17:00 - 20:00";
        }

        DateInText = CreateRes.date.ToLongDateString();
    }

}
